
name: Fork & Edit lists
on:
  workflow_dispatch:
  schedule:
    - cron: "30 * * * *"
  
jobs:
  Fork-FLITER-list:
    runs-on: ubuntu-latest
    env:
      TZ: 'Asia/Shanghai'
    
    steps: 
    - name: Checkout target repository
      uses: actions/checkout@v4.1.0
      with:
        repository: axtyet/Open-AutoGLM
        path: Open-AutoGLM-repo

######

    
    - name: Fork Open-AutoGLM
      run: |
        mkdir -p Open-AutoGLM-repo
        git clone -b main https://github.com/zai-org/Open-AutoGLM.git  czy_Tmp
        cp -r czy_Tmp/* Open-AutoGLM-repo
        rm -rf czy_Tmp 
    

        

      # 保存、推送   
    - name: Add and Commits
      run: |
        cd Luminous-repo
         if [[ -n $(git status -s) ]]; then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add --all
          git commit -m "$(TZ='Asia/Shanghai' date +'%Y-%m-%d %H:%M')"
          git push origin HEAD
        else
          echo "No changes to commit."
        fi

    - name: Cleanup Workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2
